<h1>Burger</h1>

<h2>Eat-Da-Burger</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            {{>burger devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers devoured=true}}
        {{/if}}
    {{/each}}
</ul>

<form>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary">Submit</button>
</form>